# Copia este archivo como .env y llena los valores reales

TELEGRAM_TOKEN=aqui_tu_token_de_telegram
DATABASE_URL=postgresql://postgres:tupassword@roundhouse.proxy.rlwy.net:PUERTO/railway
GEMINI_API_KEY=aqui_tu_api_key_de_gemini
BOT_USERNAME=@utm_help_bot
